/* ===================== SEARCH BOX ===================== */
.search-box {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 9999;

  background: rgba(255, 255, 255, 0.38);        /* Glass */
  backdrop-filter: blur(12px);

  padding: 8px 18px;
  border-radius: 100px;
  display: flex;
  gap: 10px;
  align-items: center;

  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.25);
}


/* ===================== FIELD ===================== */
.search-field {
  position: relative;
  width: 210px;
}

.search-field label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 13px;
  color: #315d77;
  pointer-events: none;
  opacity: 0.75;
}

/* Modern Input (Card style) */
.search-field input {
  width: 50%;
  padding: 10px 14px;
  padding-left: 85px;

  background: rgba(255, 255, 255, 0.85);
  border: none;

  box-shadow: 0 2px 6px rgba(0,0,0,0.12);
  border-radius: 14px;

  font-size: 14px;
  outline: none;

  transition: 0.2s ease;
}

.search-field input:focus {
  background: rgba(255, 255, 255, 1);
}

/* ===================== BUTTON ===================== */
.search-btn {
  padding: 10px 18px;
  font-size: 14px;
  font-weight: 600;

  background: linear-gradient(90deg, #007cff, #00b4ff);
  color: white;
  border: none;

  border-radius: 14px;
  cursor: pointer;

  box-shadow: 0 6px 18px rgba(0,140,255,0.35);
  transition: 0.2s ease;
}

.search-btn:hover {
  transform: translateY(-1px);
}
